<form [formGroup]="form" (ngSubmit)="changePass()">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      id="oldPassword"
      type="text"
      class="form-control"
    />

    <div *ngIf="oldPassword?.pending">
      Checking for server validation of the old oldPassword...
    </div>

    <div
      *ngIf="oldPassword?.touched && oldPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="oldPassword?.errors?.['required']">
        Old Password is required
      </div>
      <div *ngIf="oldPassword?.errors?.['oldPasswordMatch']">
        Old password is not correct!
      </div>
    </div>

    <label for="password">Password</label>
    <input
      formControlName="password"
      id="password"
      type="text"
      class="form-control"
    />

    <div
      *ngIf="password?.touched && password?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="password?.errors?.['required']">Password is required</div>
    </div>

    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      id="confirmPassword"
      type="text"
      class="form-control"
    />

    <div
      *ngIf="confirmPassword?.touched && confirmPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password is required
      </div>
    </div>
  </div>

  <div
    class="alert alert-danger"
    *ngIf="confirmPassword?.valid && form.errors?.['passwordsShouldMatch']"
  >
    The password and confirmed password don't match.
  </div>

  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
