<!-- <h1>Angular</h1> -->
<!-- <app-authors></app-authors>

<courses></courses>

<app-course></app-course> -->

<!-- <app-favorite
  [isFavorite]="post.isFavorite"
  (change)="onFavoriteChange($event)"
></app-favorite> -->

<!-- <bootstrap-panel>
  <ng-container header>Header</ng-container>
  <ng-container body>
    <h1>Title</h1>
    <p>some text...</p>
  </ng-container>
</bootstrap-panel> -->

<!-- <app-like [likeCounts]="tweet.likeCounts" [isActive]="tweet.isLiked">
</app-like> -->

<!-- <app-directives></app-directives> -->

<!-- <zippy title="Shopping Detail">Shopping Detail Content</zippy> -->

<!-- <contact-form></contact-form> -->

<!-- <course-form></course-form> -->

<!-- <signup-form></signup-form> -->

<!-- <topics></topics> -->

<!-- <change-password></change-password> -->

<posts></posts>
